@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DanaRegular";
    font-display: swap;
    src: url(../fonts/dana-fanum-regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "DanaMedium";
    font-display: swap;
    src: url(../fonts/dana-fanum-medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "DanaSemibold";
    font-display: swap;
    src: url(../fonts/dana-fanum-bold.woff2) format("woff2");
  }
  @font-face {
    font-family: "MorabbaLight";
    font-display: swap;
    src: url(../fonts/Morabba-Light.woff2) format("woff2");
  }
  @font-face {
    font-family: "MorabbaMedium";
    font-display: swap;
    src: url(../fonts/Morabba-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "MorabbaBold";
    font-display: swap;
    src: url(../fonts/Morabba-Bold.woff2) format("woff2");
  }
  body{
    background-image: url(../images/headerBgDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@layer components{
  .rotate-arrow{
    transform: rotate(180deg);
  }
  .submenu{
    @apply hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
  }
  .open-submenu{
    @apply flex;
  }
  .overlay{
  @apply  md:hidden fixed inset-0 w-full h-full bg-black/40 backdrop-blur-[2px]  z-10 invisible opacity-0 transition-all;
  }
  .overlay--visible{
    @apply opacity-100 visible;
  }
  
}